.container {
    height: 100vh;
    background-color: #191414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #1DB954;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1ed760;
  }
  